.wrapper{
    font-family: "微软雅黑";
    position: relative;
    display: table;
    border-collapse:separate;
    border-spacing:5px;

}
.row{
    display: table-row;
    margin:10px;
}

.wrapper span{
    display: table-cell;
    text-align: right;
}

.import{
    border:1px solid gray;
    display: table-cell;
    height:20px;
    border-radius: 5px;
    outline: none;
}

.content{
    text-align: center;
    font-size: 12px;
    color:gray;
    border:none;
}

.check{
    background-color: blue;
    color:white;
    border-radius: 10px;
    width:50px;
    height:30px;
    margin-left:auto;
    margin-right:auto;
    outline: none;
    position: absolute;
    right:0;

}
.correct{
    border-color: green;
}
.correctCont{
    color: green;
}

.error{
    border-color:red;
}
.errorCont{
    color: red;
}

.alert{
    border-color: gray;
}
.alertCont{
    color: gray;
}